/* Reset */







/* Header */
.colore {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
    height: 50px;
}

.colore img {
    width: 14%;
}
.ts {
    display: flex;
}

 .navbar a {
   text-decoration: none;
   padding: 5px;
   color: black;
}

.ts li {
    list-style-type: none;
    padding-top: 5px;
}
.ts a {
    color: black;
}
.ts a {
    padding-top: 10px;
}

/* Section 1 */
.banner-img {
    background-image: url("../img/jumbo-bg.png");
    background-position: top;
    background-size: cover;
    padding: 7.5rem 1rem;
}
.container {
    padding-top: 40px;
}

.banner-img .testo img {
    width: 50%;
}
.banner-img .testo {
    color: white;
}
.h3 {
    font-size: 40px;
}
.banner-img a {
    text-decoration: none;
    background-color: #cb3234;
    padding: 10px;
    border-radius: 20%;
    color: white;
}
/* Section 2 */
.img-fluid {
    border-radius: 11%;
    border: 1px solid blue;
}
.row {
    padding: 10px;
}

@media screen {
    
}


/* Section 3 */

.container span {
    text-align: center;
    color: deepskyblue;
    padding-left: 171px;
}
 
 .container h2 {
     font-size: 40px;
     text-align: center;
 }

.container p {
    text-align: center;
}
.elements {
    margin: 0 auto;
    width: 95%;
    padding-top: 30px;
}
.elements h2 {
    font-size: 40px;
}
.elements a {
    text-decoration: none;
    background-color:  #007fff;
    padding: 10px 10px;
    border-radius: 19%;
    color: white;
}

.img-play img {
    width: 600px;
}
.row1 img {
    width: 150px;
}
/* Section 6 */

.banner2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: top;
    background-size: cover;
    height: 500px;
}
.banner2 img {
    width: 300px;
}

.banner2 h3, p ,a {
    color: white;
}

.banner2 h3 {
 font-size: 40px;
}

.banner2 p {
    padding-top: 10px;
}

.banner2 a {
    text-decoration: none;
    background-color: #cb3234;
    padding: 15px;
    border-radius: 20%;
    color: white;
}

/* Section 7 */

.available h4 {
    color: white;
}

.available h3 {
font-size: 29px;
color: white;
}

.elementss h5 {
    color: white;
    padding-top: 6px;
}
.elementss {
    background-color: black;
    margin: 0 auto;
    width: 95%;
    padding-top: 30px;
}

/* Section 8 */

.container p {
    color: gray;
    font-size: 20px;
}
.container h3 {
    text-align: center;
    font-size: 50px;
}
.container a {
    background-color: #007fff;
    padding: 10px;
    border-radius: 10%;
    text-decoration: none;
    color: white;
}

.imgps4 img {
    width: 100%;
}

.play h3 {
    text-align: left;
    font-size: 36px;
}

/* Section 9 */

.psplus img {
width: 60%;
}
.color {
    background-color: grey;
    padding-top: 30px;
}
.color a {
    background-color: lightgray;
    text-decoration: none;
    padding: 10px;
    color: #007fff;
    
}
.color p {
    color: black;
    font-size: 15px;
    padding-top: 10px;

}
.container {
    padding-bottom: 30px;
    text-align: left;
}
.imgplay img {
    width: 100%;
    padding: 20px 0;
}
.sale h3 {
    font-size: 46px;

}

.sale p {
    padding-top: 15px;
}

/* Section 11 */

.playnow img {
    width: 50%;

}

.colortwo {
    background-color:  #252850;
    height: 270px;
}

.colortwo p {
    color: white;
    padding-top: 35px;
}

.colortwo a {
    background-color: white;
    color: black;
    padding: 20px;
    text-decoration: none;
    border-radius: 31%;
}

.explore {
    padding-top: 20px;
}

.media h3 {
    font-size: 39px;
    padding-bottom: 62px;
}

/* Section 13 */

.sonylogo img {
    width: 25%;
    height: 200px;

}
img.black {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    filter: gray; /* Fix per Explorer */
}

.list-group li {
    padding: 10px;
}

.container span {
    display: block;
}

.country {
    padding-right: 300px;
    color: white;
}

.red {
    background-color:  #343a90;
}

.link li {
    color: white;
}

.img-sony img {
    
    width: 29%;
}

.limited {
    font-size: 12px;
    padding-top: 20px;
    color: white;
}