/* Reset */







/* Header */
.colore {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
    height: 50px;
}

.colore img {
    width: 14%;
}
.ts {
    display: flex;
}

 .navbar a {
   text-decoration: none;
   padding: 5px;
   color: black;
}

.ts li {
    list-style-type: none;
    padding-top: 5px;
}
.ts a {
    color: black;
}
.ts a {
    padding-top: 10px;
}

/* Section 1 */
.banner-img {
    background-image: url("../img/jumbo-bg.png");
    background-position: top;
    background-size: cover;
    padding: 7.5rem 1rem;
}
.container {
    padding-top: 40px;
}

.banner-img .testo img {
    width: 50%;
}
.banner-img .testo {
    color: white;
}
.h3 {
    font-size: 40px;
}
.banner-img a {
    text-decoration: none;
    background-color: #cb3234;
    padding: 10px;
    border-radius: 20%;
    color: white;
}
.img-fluid {
    border-radius: 11%;
    border: 1px solid blue;
}
.row {
    padding: 10px;
}

@media screen {
    
}











/* Section 2 */



